<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projecture</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/flexslider.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<style>
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
    body {
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    
    .sidebar {
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
    
      height: 100%;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: white;
      color: black;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      /* height: 1000px; */
    }
    
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }

    .sidebar{
        margin-left :50px;
        border-right: 2px solid grey;
        height: 500px;
    }

    .vl {
  border-left: 6px solid green;
  height: 500px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid grey;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: grey;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid grey;
  background: grey;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top:8%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.card{
  position:relative;
    width: 500px;
    padding :20px 20px 20px 20px;
    margin: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    margin-bottom: 20px;
    border-radius: 20px;
}
.card .card-footer{
    padding :0px 10px 0px 0px; 
}
.card .card-body{
    padding:0px 0px 10px 0px;
}

.about-section{

  padding:0px 0px 20px 0px;
}

.student-pic{
  height:100px;
  width:100px;
}

.projects-list{
  text-align: center;
}

.form-center {
	display:flex;
	justify-content: center;
}
</style>

</head>
<body>

  <section class="banner1" style="height:20px">
    <header id="header">
        <div class="header-content" style="max-height: 1rem;">
            <strong><span style="font-size: 35px; color: white; font-family: 'Corinthia', cursive;" >Projecture</span><strong>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="/projects">Search Projects</a></li>
                    <li><a href="/projects/new">Post Project</a></li>
                    <li><a href="/postfeedback">Post Feedback</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div><!-- header content -->
    </header><!-- header -->
</section><!-- banner -->

    
  </div>
    

    
  </div>
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Search for Users." name ="username">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

 <table>
     <tr>
         <th>
            <div class="sidebar">
                <a class="active" href="#home">DashBoard</a>
                <a href="#news">About</a>
                <a href="/student/edit">Edit Profile</a>
                <a href="#contact">Projects</a>
                <a href="#about">Contacts</a>
              </div>
              
              <div class="content">
                
              </div>
         </th>
         <th>
          <!-- about section    -->
          <h4 class="projects-list">About:</h4>
          <div class="about-section">
            <img class="student-pic" src="/images/student_pic.jpg" alt="student-pic">
            <h5>description:</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
                pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
                Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
                in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
                per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut </p>
          </div>
          

          <!-- list of projects -->
          <h4 class="projects-list">List of Projects:</h4>
          <%for (let project of user.projects){  %> 
            <div class="card">
              <h3 class='card-header'><%= project.name %> </h3>
              <div class="card-body"><H4>Description</H4> <p><%= project.description%></p></div>
              <div class='card-footer'>Created By: <a clas="nav-link"href=""><%=user.username  %></a> </div>
            </div>
            <% } %> 

            <!-- contacts-section -->
            <h4 class="projects-list">Contact me:</h4>
            <div>
              email-id: <%= user.email  %> 
             </div>
             <div >Phone Number: <%= user.phone %></div>
             <!-- upload your resume: -->
             <h4 class="projects-list">Upload your resume</h4>
             <div class="form-center">
              <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">
                <!-- <input type="submit"> -->
              </form>
             </div>
          
          </th>

    </tr>
    

 </table>
 <footer class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="footer-col col-md-4">
                  <h5>Location</h5>
                  <p>Thapar University<br>Patiala, Punjab</p>
              </div>
              <div class="footer-col col-md-4">
                  <h5>Share with Love</h5>
                  <ul class="footer-share">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/kamal_chaneman"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/kamalchaneman"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              </div>
              <div class="footer-col col-md-4">
                  <h5>About Projecture</h5>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
              </div>
          </div>
      </div>
  </div><!-- footer top -->
  <div class="footer-bottom">
      <div class="container">
          <div class="col-md-12">
              <p>Copyright © 2021 Projecture. All Rights Reserved<br>Made with <i class="fa fa-heart pulse"></i> by <a href="">Aman Srivastava</a></p>
          </div>
      </div>
  </div>
</footer><!-- footer -->
</body>
 </html>